.aboutSection {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: #2f275b;
  flex-basis: 100%;
  border-radius: 1em;
  margin-bottom: 2em;
}

.aboutSection span {
  font-size: 3rem;
  margin-bottom: 1em;
}

.aboutSections {
  display: flex;
}

.aboutSection:nth-child(2) {
  margin-right: 1em;
  margin-left: 1em;
}

@media only screen and (max-width: 768px) {
  .aboutSections {
    flex-direction: column;
  }

  .aboutSection:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
  }

  .aboutSection span {
    margin-bottom: 0;
  }
}
