.aboutContainer {
  max-width: 768px;
  margin: 2em auto;
}

.aboutSection {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.aboutSection span {
  font-size: 2rem;
}

.aboutSection p {
  text-align: center;
}

.aboutSections {
  background-color: #2f275b;
  border-radius: 0.25rem;
}
