@import url("https://fonts.googleapis.com/css2?family=Poppins");

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --main-text-color: #fbe6ba;
  --background-color: #221952;
  --secondary-color: #dfad57;
}

body {
  color: var(--main-text-color);
  background: var(--background-color);
  font-family: "Poppins";
}

main {
  min-height: 100vh;
}

.pageTitle {
  margin-bottom: 4rem;
}

.pageTitle .underline {
  background-color: var(--secondary-color);
  width: 5rem;
  height: 5px;
}

a {
  color: var(--main-text-color);
}

/* Reveal content on scroll */
.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  .reveal,
  .reveal.active {
    transition: none;
  }
}
