.heroContainer {
  display: flex;
  height: 95vh; /* Should be 100 - nav-height */
  align-items: center;
  padding-bottom: 3em;
}

.heroContainer img {
  display: block;
  margin-left: 1em;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroContainer img {
  width: 100%;
  overflow: auto;
}

.about {
  min-width: 65%;
}

.about p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
}

.about h1 {
  color: var(--secondary-color);
  font-size: 1rem;
  margin-bottom: 0;
}

.about h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5rem;
}

.btn {
  padding: 0.75rem 2.5rem;
  background: var(--main-text-color);
  color: var(--background-color);
  font-size: 2rem;
  width: fit-content;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
  .heroContainer {
    flex-direction: column-reverse;
  }

  .heroContainer img {
    margin-left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .heroContainer h2 {
    font-size: 3rem;
  }

  .heroContainer p {
    font-size: 1rem;
  }

  .heroContainer .btn {
    font-size: 1.5rem;
  }
}
