.container {
  padding: 0.5em 6em;
  max-width: 1200px;
  margin: auto;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  height: 5vh;
}

.container nav a {
  text-decoration: none;
}

.container footer {
  margin-top: 160px;
  padding-bottom: 160px;
  position: relative;
}

.container footer h1 {
  font-size: 2rem;
}

.container footer p {
  font-size: 1.5rem;
  margin-bottom: 80x;
}

.container footer .social {
  display: flex;
}

.container footer .social svg {
  margin-right: 3rem;
}

nav .btnSecondary {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--main-text-color);
  width: fit-content;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
}

.links a {
  margin-left: 1rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 8px 16px;
  }

  /* To give space for clipper on small devices */
  .container footer {
    margin-top: 200px;
  }
}
